@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.extension{
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    height: 500px;
    width: 375px;
    border: 1px solid #3b3b3b;
}
.header{
    font-family: 'Pacifico', cursive;
    height: 10%;
    width: 100%;
    background-color: #F5F6FD;
    border: 1px solid #C7C7C8;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.emptydiv{
    height: 70%;
    width: 100%;
    background-color: #FFFFFF;
    /* border: 1px solid #000000; */
    position: relative;
    z-index: 1;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#emptytext{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    width: 75%;
    margin-top: 0px;
    /* border: 1px solid #000000; */
}

.notemptydiv{
    height: 70%;
    width: 100%;
    /* background-color: rgb(124, 119, 119); */
    /* position: relative; */
    display: none;
    flex-direction: column;
    align-items: center;
}
.collectiondiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 2px; */
    border: 1px solid #C7C7C8;
}
.collectionheader{
    width: 100%;
    background-color: #E9E8E8;
    font-size: 18px;
    padding-left: 8px;
    font-size: larger;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}
.entrydiv{
    width: 80%;
    padding-left: 28px;
    background-color: #FFFFFF;
    display: none;
    flex-direction: column;
}
.entrytitle{
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        align-items: center;
}
.entrytitle:hover{
    cursor: pointer;
    color:#00906D;
}
.entrytitle >img{
    width: 20px;
    height: 20px;
    margin: 5px 0;
}


.newcitation{
    height: 20%;
    width: 100%;
    background-color: #FFFFFF;
    /* border: 1px solid #000000; */
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.newcitationbutton{
    width: 70%;
    height: 40px;
    background-color: #00906D;
    border: 1px solid #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:18px;
    color:#ffffff;
}

.newcitationbutton:hover{
    background-color: #006B4F;
    cursor: pointer;
    color:#ffffff;
}

#newcitationtext{
    font-size: 20px;
    font-weight: bold;
    /* color: #000000; */
    text-align: center;
}
.formatentry{
    position: absolute;
    top:40px;
    width: 70%;
    height: 40px;
    display: flex;
    flex-direction: column;
    /* gap:2px */
    display: none;
    transition: transform 0.5s 0s ease;
    

}
.formatentrytype{
    text-align: center;
    /* border: 1px solid #000000; */
    margin: 0.5px 0 ;
    background-color: #11d8a3;;
    padding: 5px 0;
}
.formatentrytype:hover{
    background-color: #00906D;
    cursor: pointer;
    color:#ffffff;
    transition: 0.5 ease;
}